.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.profile-card-title {
    color: grey;
    font-size: 18px;
}

.profile-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profile-card button:hover, .profile-card a:hover {
    opacity: 0.7;
}
